{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="form-control">
    {{ errors }}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="fs-4">
            {% trans "Add tags to your post:" %}
        </div>           
        {{ tag_formset.as_p }}
        <div>
        <div class="fs-4">
            {% trans "Post Images:" %}
        </div>           
        {{ formset.as_p }}
        <div>
            <input type="submit" value="{% trans "Submit" %}" class="btn btn-primary">
        </div>
    </form>
</div>
{% endblock content %}