{% include 'header.html' %}
<body>

    <h1 ></h1>
    <ul>
        {% for post in posts_list %}
        <div style="
        margin-left: 5%;
        margin-right: 5%;
        border-style: solid;
        border-radius: 5%;
        ">
            <h2>
                <h2 style="
                color: black;
                align-items: center;
                margin-left: 1%;
                margin-right: 1%;
                ">
                    {{ post.title }}
                    {{ post.user }}
                </h2>
            </h2>
            <p style="
            color: black;
            align-items: center;
            margin-left: 1%;
            margin-right: 1%;
            ">
                {{ post.content }}
            </p>
        </div>
        {% endfor %}
    </ul>
</body>
{% include 'footer.html' %}
