/*Header style*/
.site_header{
    padding: 2px;
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    background-color: burlywood;
    align-items: center;
}


/*Footer style*/
.site_footer{
    margin-left: 5%;
    margin-right: 5%;
    padding: 2px;
    position: static;
    color: black;
    background-color: burlywood;
}


/*Posts style*/
.post{
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    border: solid;
    border-radius: 5%;
}

.post_title{
    margin-left: 5%;
    margin-right: 5%;
    color: black;
}

.content{
    margin-left: 5%;
    margin-right: 5%;
    color: black;
}

.username{
    margin-left: 5%;
    margin-right: 5%;
    color: gray;
    margin-top: 1px;
}

.name{
    margin-left: 5%;
    margin-right: 5%;
    font-weight: bold;
    margin-top: 1px;
}


/*Profiles Style*/
.profilepic{
    height: 200px;
    width: 200px;
    margin-left: 5%;
    margin-right: 5%;
}

.profilepage {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
  }
  
.userprofile {
    flex: 0 0 250px;  /* grow */
    padding: 0.5%;
    word-wrap: break-word;
  }
  
.useractivity {
    flex: 1 0 250px; /* do not grow, do not shrink, start at 250px */
  }

.center {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.button {
    font-size: 32px;
}

.signup {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: left;
    padding: 10px;
}