{% extends 'base.html' %}

{% block content %}
<div class="form-control">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" class="btn btn-success">
    </form>
</div>
<div>
    <a href="//{{ host }}/useraccounts/username/{{ user.username }}/delete-account">
        <button method='POST' type="button" class="btn btn-danger">Delete account</button>
    </a>
    <a href="//{{ host }}/useraccounts/username/{{ user.username }}">
        <button type="button" class="btn btn-secondary">Cancel</button>
    </a>
</div>
{% endblock content %}