{% extends 'base.html' %}


{% block content %}
<div class="container text-left">
    <div class="row">
        <div class="col-3">
            {% if user.image %}
            <img src="{{ MEDIA_URL }}/{{ user.image }}" class="img-thumbnail rounded float-start"/>
            {% else %}
            <img src="{{ MEDIA_URL }}/profilepics/default.jpg" class="img-thumbnail rounded float-start"/>
            {% endif %}
            <p class="fs-1"> {{ user.first_name }} {{ user.last_name }}</p>
            <p class="badge bg-primary text-wrap"> @{{ user.username }}</p>
            <p class="fs-3"> Bio:</p>
            <p class=content> {{ user.bio }}</p>
            <p class=name> Following: {{ user.following }} | Follower: {{ user.follower }} </p>
            {% if request.user != user %}
            <div>
                <a href="//{{ request.get_host }}/useraccounts/follow/{{ user.username }}">
                    <button type="button" class="btn btn-success">Follow</button>
                </a>
                <a href="//{{ request.get_host }}/useraccounts/unfollow/{{ user.username }}">
                    <button type="button" class="btn btn-danger">Unfollow</button>
                </a>
                <p></p>
            </div>
            {% endif %}
        </div>
        
        <div class="col-9">
            {% for user_post in user_posts %}
            <div class='row border border-primary rounded p-1'>
                <p class='fw-lighter'>Last update: {{ user_post.updated_at }}</p>
                <h2 class="post_title">
                    {{ user_post.title }}
                </h2>
                <div>
                    <p class='badge bg-primary text-wrap'>By: @{{ user_post.user }}</p>
                </div>
                <p class='content'>
                    {{ user_post.content }}
                </p>

                {% if request.user == user_post.user %}
                <p class='content'>
                    <a>
                        {{ post.likes }} Like 👍
                    </a> | 
                    <a>
                        {{ post.dislikes }} Dislike 👎
                    </a>
                </p>
                {% else %}
                <p class='content'>
                    <a href="//{{ request.get_host }}/posts/{{user_post.id}}/like">
                        {{ post.likes }} Like 👍
                    </a> | 
                    <a href="//{{ request.get_host }}/posts/{{user_post.id}}/dislike">
                        {{ post.dislikes }} Dislike 👎
                    </a>
                </p>

                {% endif %}
                
                {% if request.user == user_post.user %}
                <div class='content'>
                    <a href="//{{ request.get_host }}/posts/post/{{ user_post.id }}/{{ user_post.post_slug }}">
                        <button class="btn btn-primary">
                            View full post
                        </button>
                    </a>
                    <button class="btn btn-outline-warning">
                        <a href="//{{ request.get_host }}/posts/editpost/{{user_post.id}}">
                            ✏️ Edit
                        </a>
                    </button>
                    <button class="btn btn-outline-danger">
                        <a href="//{{ request.get_host }}/posts/editpost/{{ user_post.id }}/delete"> 🗑️ Delete</a>
                    </button>
                </div>
                    {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}