{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} Social network{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header class="site_header">
        <div>
            <h1>
                {% block headertitle %}My social network: A place to share your thoughts{% endblock headertitle %} 
            </h1>
            
            {% block headerbuttons %}
            {% if user.is_anonymous %}
            <a class="headerbuttons" href="//{{ request.get_host }}">Home</a>
            <a class="headerbuttons" href="//{{ request.get_host }}/useraccounts/signup/">Sign up</a>
            <a class="headerbuttons" href="//{{ request.get_host }}/useraccounts/signin/">Sign in</a>
            {% else %}
            <a class="headerbuttons" href="//{{ request.get_host }}">Home</a>
            <a class="headerbuttons" href="//{{ request.get_host }}/useraccounts/username/{{ request.user.username }}">Profile</a>
            <a class="headerbuttons" href="//{{ request.get_host }}/useraccounts/username/{{ request.user.username }}/edit">Edit profile</a>
            <a class="headerbuttons" href="//{{ request.get_host }}/useraccounts/signout">Sign out</a>
            <a class="headerbuttons" href="//{{ request.get_host }}/posts/newpost">New post</a>
            {% endif %}
            {% endblock headerbuttons %}

        </div>
    </header>

    {% block content %}
    {% endblock content %}
    
    <footer>
        <div class="site_footer">
            <p>
                {% block footertitle %}Created by: Reza Saraey{% endblock footertitle %} 
            </p>
        </div>
    </footer>
</body>
</html>