<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Network</title>
</head>
<body>
    <footer>
        <div style="
        color: black;
        align-items: center;
        background-color: aquamarine;
        margin-left: 5%;
        margin-right: 5%;">
            <p>Created by: Reza Saraey. Email me at: <a href="mailto:saraeygh@gmail.com">saraeygh@gmail.com</a> </p>
        </div>
    </footer>
</body>
</html>