<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Network</title>
</head>
<body>
    <header>
        <div style="
            color: black;
            align-items: center;
            background-color: aquamarine;
            margin-left: 5%;
            margin-right: 5%;">
            <h1> My social network: A place to share your thoughts</h1>
        </div>
    </header>
</body>
</html>